@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes jump {
  0% {
    transform: translate(0px, 0px);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translate(0px, 10px);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translate(0px, 0px);
    animation-timing-function: ease-in-out;
  }
}
.animate-mock {
  animation: jump 3s infinite;
}

.text-shadow {
  text-shadow: 5px 5px 10px #233876;
}
